<div class="container">
<h1>All restaurants</h1>

  <% @restaurants.each do |restaurant| %>
    <div class='restaurant-card'>
        <%= link_to restaurant.name, restaurant_path(restaurant), class: "restaurant-name"  %>
      <% if restaurant.average_review.nil? %>
        <div class="review-empty"> No ratings</div>
      <% else %>
        <div class="review"> <%= '★'  * restaurant.average_review %></div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Add a restaurant", new_restaurant_path  %>
</div>
